<div  class="bar" [class.mat-elevation-z8]="true" class="bar"  fxHide.xs="true" >
  <ul fxLayout="row wrap"  fxLayoutAlign="space-evenly center" >
    <li ><a href="#">All Categories ▾</a>
      <ul class="dropdown">
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Printers</a></li>
      </ul>
    </li>
      <li><a href="#">Electronics</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
    </li>
      <li><a href="#">Men</a>
        <ul class="dropdown">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Monitors</a></li>
            <li><a href="#">Printers</a></li>
        </ul>
      </li>
      <li><a href="#">Women</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
      </li>
      <li><a href="#">Home</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
      </li>
      <li><a href="#">Beauty & Fragrances</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
      </li>
      <li><a href="#">Baby & Toys</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
      </li>
      <li><a href="#">Groceries</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
      </li>
      <li><a href="#">Sports</a>
        <ul class="dropdown">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Monitors</a></li>
          <li><a href="#">Printers</a></li>
      </ul>
      </li>
  </ul>
</div>

