<span>
  <img class="advrts" fxLayoutAlign="center center" src="/assets/images/advrts.png" alt="Trulli" >
</span>

<div class="category-bar" [class.mat-elevation-z8]="true">
  <p>Shop By Category</p>
    <div  class="scroll" fxLayout="row"  fxLayoutAlign="start center" >
      <a><img src="/assets/images/catagory-img/b1.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b2.png" alt="cat-img" ></a> 
      <a><img src="/assets/images/catagory-img/b3.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b4.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b5.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b6.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b7.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b8.png" alt="cat-img" ></a>
      <a><img src="/assets/images/catagory-img/b9.png" alt="cat-img" ></a>
    </div>
</div>

<div class="mega-offer" > 
  <img class="mega-img" src="/assets/images/offercards-img/mega-offer.png"  alt="mega-offerimage">
    <div class="meg1" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.sm="space-even center" fxLayoutAlign="space-evenly center">
      <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
            <mat-card-title >Cookwear Set Deals</mat-card-title>
            </mat-card-header>
              <img src="/assets/images/offercards-img/megcook.jpg" alt="Photo of mega-cook">
                <mat-card-content>
                  <p>Non-Stick Cookwear 10 Pieces</p>
                  <h4 style="color:red"><b>499Rs</b>&nbsp; onwards</h4>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button>SHOP NOW</button>
              </mat-card-actions>
      </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
              <mat-card-title >Dinner Set Deals</mat-card-title>
              </mat-card-header>
                <img src="/assets/images/offercards-img/dnr.jpg" alt="Photo of a dinner-sets">
                  <mat-card-content>
                    <p>Dinner Sets of 10 Pieces</p>
                      <h4 style="color:red"><b>799Rs</b>&nbsp; onwards</h4>
                  </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>SHOP NOW</button>
                    </mat-card-actions>
        </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
                <mat-card-title >Smart Tv Deals</mat-card-title>
              </mat-card-header>
                <img src="/assets/images/offercards-img/tv.jpg" alt="Photo of a tvs">
                  <mat-card-content>
                    <p>Big Sale on Smart & Android Tv's</p>
                      <h4 style="color:red"><b>11999Rs</b>&nbsp; onwards</h4>
                    </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button>SHOP NOW</button>
                          </mat-card-actions>
          </mat-card>
</div>

<div class="meg2" fxLayoutAlign.sm="space-even center" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" > 
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
        <mat-card-title >Bath Accsories Deals</mat-card-title>
        </mat-card-header>
          <img src="/assets/images/offercards-img/bath-acs.jpg" alt="Photo of a Bath-acs">
            <mat-card-content>
              <p>Extra 5% offer</p>
                <h4 style="color:red"><b>99Rs</b>&nbsp; onwards</h4>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button>SHOP NOW</button>
            </mat-card-actions>
      </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
              <mat-card-title >Power Tools Deals</mat-card-title>
            </mat-card-header>
              <img src="/assets/images/offercards-img/power.jpg" alt="Photo of a Power-tools">
                <mat-card-content>
                  <p>Sales on Power Tools</p>
                  <h4 style="color:red"><b>999Rs</b>&nbsp; onwards</h4>
                </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button>SHOP NOW</button>
                </mat-card-actions>
          </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
              <mat-card-title >Furniture Deals</mat-card-title>
            </mat-card-header>
              <img src="/assets/images/offercards-img/box-1.jpg" alt="Photo of a furniture">
                <mat-card-content>
                  <p>Standard Sofa Deals</p>
                    <h4 style="color:red"><b>7999Rs</b>&nbsp; onwards</h4>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button>SHOP NOW</button>
                </mat-card-actions>
          </mat-card>
      </div>
</div>

<div class="offer"> 
  <img class="offer-title" src="/assets/images/exclusive-img/exclusive-title.png"  alt="mega-offerimage">
    <div class="exclusive-off">
      <img class="offer-strip" src="/assets/images/exclusive-img/exc.png"  alt="mega-offerimage">
      <img class="offer-strip" src="/assets/images/exclusive-img/exc1.png"  alt="mega-offerimage">
    </div>
</div>

<div>
  <img class="offer-strip" src="/assets/images/ofrstrip.png"  alt="mega-offerimage">
</div>

<div class="offsets" [class.mat-elevation-z8]="true">
  <div>
    <img class="offer-strip" src="/assets/images/offer-img/offer1.png"  alt="mega-offerimage">
    <img class="offer-strip" src="/assets/images/offer-img/offer2.png"  alt="mega-offerimage">
  </div>
  <div>
    <img class="offer-strip" src="/assets/images/offer-img/offer3.png"  alt="mega-offerimage">
    <img class="offer-strip" src="/assets/images/offer-img/offer4.png"  alt="mega-offerimage">
  </div>
</div>

<div class="appliences-mod" [class.mat-elevation-z8]="true">
  <div>
  <img class="offer-strip" src="/assets/images/offer_module-img/kitchen-apl.jpg"  alt="mega-offerimage">
  <img class="offer-strip" src="/assets/images/offer_module-img/home-appl.jpg"  alt="mega-offerimage">
  </div>
  <div>
  <img class="offer-strip" src="/assets/images/offer_module-img/bath-time.jpg"  alt="mega-offerimage">
  <img class="offer-strip" src="/assets/images/offer_module-img/furniture.jpg"  alt="mega-offerimage">
  </div>
</div>

<div class="brand-bar">
  <p>Shop By Brand</p>
    <div  class="scroll" fxLayout="row"  fxLayoutAlign="start center" >
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
      <a><img src="/assets/images/brand-img/brand4.png" alt="brand-img"></a>
    </div>
</div>
  


<div>
  <div class="scroll" flexLayout="row wrap" fxLayoutAlign="start center" [style.margin-top]="'12px'">
    <mat-card class="example-card" *ngFor="let i of [].constructor(10)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    </div>
  
</div>
   
